@if (IncludeAll)
{
    <a href="#" @onclick:preventDefault @onclick=@(() => SetDay(DateTime.MinValue)) class="badge @(SelectedDate.Equals(DateTime.MinValue) ? "badge-primary" : "badge-secondary")">
        all
    </a>
}
@foreach (int i in Enumerable.Range(0, Amount).Reverse())
{
    DateTime date = DateTime.Now.AddDays(-i);
    <a href="#" @onclick:preventDefault @onclick=@(() => SetDay(date)) class="badge @(SelectedDate.Date.Equals(date.Date) ? "badge-primary" : "badge-secondary")">
        @(i == 0 ? "today" : i == 1 ?  "yesterday" : date.ToString("ddd"))
    </a>

}



@code {

    [Parameter] public bool IncludeAll { get; set; } = false;
    [Parameter] public int Amount { get; set; } = 7;



    DateTime _date;
    [Parameter]
    public DateTime SelectedDate
    {
        get => _date;
        set
        {
            if (_date == value) return;
            _date = value;
            OnValueChanged.InvokeAsync(value);
        }
    }
    [Parameter] public EventCallback<DateTime> OnValueChanged { get; set; }

    //DateTime selectedDate = DateTime.Now.AddDays(-3);

    void SetDay(DateTime date)
    {
        SelectedDate = date;
    }



}
